.color-1 {
  background-color: rgb(13, 76, 146);
}

.color-2 {
  background-color: rgb(89, 193, 189);
}

.color-3 {
  background-color: rgb(160, 228, 203);
}

.color-4 {
  background-color: rgb(207, 245, 231);
}

th {
  text-align: start;
}